:root {

    --accent-color: #2196F3;
    --main-color:#212121;

    --secondary-bg-color:#2F303A;;
  
}

body {
   font-family: "Roboto", sans-serif;
   color: var(--main-color);
}

.link {
    text-decoration: none;
    color: currentColor;
}
.btn {
    font-family: inherit;
    color: currentColor;
}

.link .nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
}

.logo-right {
    color: #212121;
}

.current {
    color: var(--accent-color);
}